@charset "UTF-8";

body{
    background-color: rgb(174, 9, 9);
}
#principal{
    max-width: 400px;
    min-height: 290px;
    
    margin: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 3px 5px  black;
}
h1{
    color: rgb(121, 7, 7);
    text-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.379);
    font-weight: bolder;
    font-size: 2.7em;
    text-align: center;
}
.tempo{
    margin: 0 auto;
    font-size: 6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    top: 20px;
    width: 100%;
 
    position: relative;
    margin: 10px auto;
    text-align: center;
   
}

.btn-iteracao{
    
    width: 80px;
    height: 30px;
    
    margin: 2px;
    display: inline-block;
    
    border: none;
    border-radius: 4px;
    
    font-weight: 600;
    color: white;
    background-color: green;
}
